* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Microsoft YaHei";
}

body{
     background-image: url("image/Penguins.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    
}


#leftBox{
    float:left;
    width: 50%;
    margin:0px 0px;
/*    box-shadow:3px 3px 5px black;*/
 }

#middleBox{
    float:left;
    margin:0px 0px;
/*    box-shadow: -3px 0 3px black;*/
    clear: left;
    width:50%;
}


#blogMenuHeader{
    height: 40px;
    background-color: #292728;
}

#blogMenuHeader canvas{
    float: right;
}
#blogMenuHeader span{
    float:left;
    margin-left: 40px;
    margin-right: 80px;
    font-size: 20px;
    color: #7795a9;
    font-family: "Microsoft YaHei";
    font-weight: 900;
    height: 40px;
    line-height: 40px;
}

#blogMenu li{
    width: 100%;
    height: 40px;
    background-color: rgb(50,50,50);
    font-size: 12px;
    text-align: center;
    line-height: 40px;
    font-family: "Microsoft YaHei";
    list-style: none;
    color: white;
    border-bottom: 1px solid rgb(20,20,20);
    cursor: pointer;
}
#blogMenu ul li:hover{
    border-bottom:2px solid #bf321d ;
}
#blogMenu{
    height:40px;
    overflow: hidden;
    transition: height 1s;
}

#blogMenu:hover{
    height: 250px;
}


#motto{
    height:169px;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top:0;
    left: 0;
}
img{
    display: block;
}

#mottoText{
    position: absolute;
    top:10px;
    left:60px;
    animation: move 5s;
}

#middleBox header{
    position: relative;
    margin-top: 10px;
    color: white;
    font-family: "Microsoft YaHei";
    font-weight: 600;
}
#headerText{
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
}

#headerText h1{
    float: right;
    margin: 20px 25px;
    font-size: 30px;
}

#headerText h2{
    float: left;
    font-size: 20px;
    margin: 50px 50px;
}
#middleBox ul li{
    list-style: none;
    display: inline-block;
    font-size: 25px;
    padding: 5px 65px;
}

#middleBox ul li:hover{
    border-top: 5px solid rgb(130,130,130);
}
#middleBox ul li a{
    text-decoration: none;
    color: white;
}

#headerBlack{
    height: 148px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0px;
    left: 0;
}

#middleBox article{
    width:100%;
    height: 800px;
    background-color:rgba(100,100,100,0.7);
/*    background-color: #292728;*/
/*    padding: 30px 30px;*/
    overflow: auto;
}

#commentButton{
    width:100%;
    height: 40px;
    background-color: rgb(220,220,220);
}

#commentBox{
    width:100%;
    height: 1000px;
    background-color:rgba(100,100,100,0.5);
    
/*    background-color: #292728;*/
}

header img[src="image/photo.png"]{
    position: absolute;
    left: 95%;
    top:130px;
    border-radius: 100px 100px 100px 100px;
    border: 10px solid white;
    box-shadow:-3px 0 3px black;
}

header img[src="image/p2.jpg"]{
    width: 100%;
    height:148px;
}

#triangle.rotateUp{
    animation:rotate 1s;
   animation-fill-mode: forwards;
}
#triangle.rotateDown{
    animation:restore 1s;
    animation-fill-mode:forwards;
}

@keyframes rotate{
    0%{transform:  rotate(0deg);}
    100%{transform: rotate(180deg);}
}

@keyframes restore{
    0%{transform: rotate(180deg);}
    100%{transform:rotate(0deg);}
}

#commentButton span{
   float: left;
    float:left;
    margin-left: 40px;
    margin-right: 60px;
    font-size: 20px;
    color: #7795a9;
    font-family: "Microsoft YaHei";
    font-weight: 900;
    height: 40px;
    line-height: 40px;
}

#commentNumber{
    float: left;
}

#commentLogo{
    float: right;
    margin-right: 50px;
    cursor: pointer;
}

#rightBox{
position:fixed;
    top:0;
    right:0;
    width:50px;
    height:1000px;
    border-left:10px solid #292728;
/*    border-right:5px solid #bf321d;*/
    background-color:rgba(200,200,200,0.3);
    padding-top: 10px;
    opacity:0.7;
}
#rightBox img{
    margin: 5px auto;
    cursor: pointer;
    filter:grayscale(100%);
    -webkit-filter:grayscale(100%);
}

#rightBox img:hover{
    filter: grayscale(0);
    -webkit-filter:grayscale(0);
}
.note h1{
    text-align: center;
    color:#e5bd0b;
    font-size: 20px;
    font-weight: 600;
}

article div{
    display: none;
}

.show{
    display: block;
}

.note p{
    margin: 10px 0;
}

.note{
    color: white;
}

#headerText ul li:first-child{
    border-top: 5px solid #bf321d;
}

#blogMenu .active{
    background-color: rgb(160,160,160);
}

@keyframes move {
    0% {left:60px}
    25%{left:0}
    50%{left:120px}
    100%{left: 60px}
}

#commentBox div{
    float: left;
    margin: 10px 10px;
}
#commentBox textarea{
    float: left;
    height: 183px;
    margin: 10px 10px;
}

#commentBox input[placeholder]{
    width: 100%;
    height: 30px;
    padding: 0 5px;
}

#commentBox input[value]{
    width: 100px;
    height: 30px;
    float: left;
}

#commentBox input[type="submit"]{
    background-color:#ffa600;
    color: #103550;
    margin-right: 10px;
}

#commentBox article{
    float: left;
    color: white;
    width:200px;
    height: 150px;
}

#commentBox article h1{
    text-align: center;
    color:#ffa600;
    font-size: 20px;

}

#comment{
    width: 20%;
    position :fixed;
    top:40px;
    right:60px;
    margin-top: -40px;
    box-shadow: -2px 2px 4px black;
}